* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.picture {
  display: block;
  background: url("https://github.com/itsmejustino/NuRoute/blob/17f41bdf91d7478834a5b40cda392ee941912485/assets/Ribeiro-Frio-2-Trail-Running.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  width: 100%;
}

.modal-btn {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #eee;
  border: 1px solid #ddd;
}

#btn1{
margin-bottom: 50px;
}

#quotes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color:black;
    font-weight: bold;
    background-color: white;
    margin-left: 250px;
    margin-right: 250px;
    
}